config SND_SOC_INTEL_SST
	tristate "ASoC support for Intel(R) Smart Sound Technology"
	help
          This adds support for Intel(R) Smart Sound Technology.
          Say Y if you have such a device
          If unsure select "N".

config SND_SOC_INTEL_HSWULT
	tristate

config SND_SOC_INTEL_HSWULT_MACH
        tristate "ASoC Audio driver for Intel Haswell-ULT platform"
        depends on SND_SOC_INTEL_SST && X86_INTEL_LPSS
	select SND_SOC_INTEL_HSWULT
	select SND_COMPRESS_OFFLOAD
	select SND_SOC_RT5640
	help
          This adds support for ASoC driver for Intel(R) Haswell
          Ultrabook platform  used as alsa device in audio substem
          Say Y if you have such a device
          If unsure select "N".
